@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
  



.title {
  font-size: 100px;
  font-family: "Lobster", cursive;
  animation: neon1 1.5s ease-in-out infinite alternate;
  color: rgb(4, 28, 250);
  flex-wrap: wrap;
  
}

.wrapper {
  position: relative;
  animation: scroll 100s linear infinite;
  /* background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),#111111; */
  /* background: url("https://img.freepik.com/free-photo/blackboard-inscribed-with-scientific-formulas-calculations_1150-19413.jpg?size=626&ext=jpg&ga=GA1.2.813377851.1695999149&semt=ais"); */
    /* background: url("https://img.freepik.com/free-vector/color-seamless-space-pattern_102902-2360.jpg?size=626&ext=jpg&ga=GA1.1.813377851.1695999149&semt=ais"); */
    background: url("https://img.freepik.com/free-photo/starry-night-sky_1048-11828.jpg?size=626&ext=jpg&ga=GA1.1.813377851.1695999149&semt=ais")  fixed;
    /* background: url("https://img.freepik.com/free-vector/realistic-galaxy-background_23-2148991322.jpg?size=626&ext=jpg&ga=GA1.2.813377851.1695999149&semt=sph"); */
  color: #eee;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;

  

}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* /* Fallback if the operatring system prefers reduced motion */
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
    
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
} 




@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #04eafa, 0 0 70px #04eafa, 0 0 80px #04eafa, 0 0 100px #04eafa, 0 0 150px #04eafa;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #04eafa, 0 0 35px #04eafa, 0 0 40px #04eafa, 0 0 50px #04eafa, 0 0 75px #04eafa;
  }
}


/* body{
  position: absolute;
  padding: 0;
  margin: 0;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* color: #050505; */ 
  /* background-color: #fff; */

  /* background: url("https://img.freepik.com/free-photo/blackboard-inscribed-with-scientific-formulas-calculations_1150-19413.jpg?size=626&ext=jpg&ga=GA1.2.813377851.1695999149&semt=ais"); */
  /* background: url("https://img.freepik.com/free-vector/color-seamless-space-pattern_102902-2360.jpg?size=626&ext=jpg&ga=GA1.1.813377851.1695999149&semt=ais"); */
  
/* }  */


.main {
  position: relative;
  margin:  auto;
  /* margin-top: 200px;
  margin-bottom: 200px; */
  /* margin-top: 30px; */
  margin-bottom: 30px;
  display: flex;
  /* overflow-y: auto; */
  background: rgb(250,254,255);
  background: radial-gradient(circle, rgba(250,254,255,1) 75%, rgba(158,144,225,1) 96%, rgba(66,34,195,1) 100%, rgba(63,58,204,1) 100%);
  /* background-color: rgb(255, 255, 255); */
  max-width: 1008px;
  height: 1250px;
  /* margin-top: 100px;
  margin-bottom: 100px;  */
  border-style: solid;
  border-color: rgb(248, 0, 153) ;
  
}


.header{
  position: absolute;
  font-family: "Lobster", cursive;
  display: flex;
  flex-direction: column;
  font-size: 45px;
  font-weight: bolder;
  /* background: rgb(211, 74, 74); */
  width: auto;
  height: 140px;
  width: 630px;
  top: 30px;
  left: 340px;
  
  border-bottom:3px solid #080808;

}

.left-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 330px;
  height: 1230px;
  padding-left: 10px;
  
  font-family:  initial;
  font-style: italic;
  font-size: 20px;
  font-weight: bolder;
  /* background: rgb(255, 255, 255); */
  color: hsl(0, 0%, 2%);
  border-right:2px #080808 solid ;
  /* margin-left: 8px; */
}

.address{
  position: absolute;
  left: 5px;
  top: 300px;
  width: 320px;
  height: 130px;
  /* padding-left: 10px; */
  font-family:  initial;
  font-style: italic;
  font-size: 21px;
  font-weight: bolder;
  /* background: rgb(255, 255, 255); */
  color: hsl(0, 0%, 2%);
  border-bottom:2px #080808 solid ;
  /* margin-left: 8px; */
  margin-top: 2px;
}

.about{

  position: absolute;
  left: 0px;
  top: 450px;
  width: 325px;
  height: 360px;
  padding-left: 10px;
  
  font-family:  initial;
  font-style: italic;
  font-size: 20px;
  font-weight: bolder;
  /* background: rgb(255, 255, 255); */
  color: hsl(0, 0%, 2%);
  border-bottom:2px #080808 solid ;
  /* margin-left: 8px; */

}

.skill{

  position: absolute;
  left: 0px;
  top: 840px;
  width: 325px;
  height: 370px;
  padding-left: 10px;
  font-family:  initial;
  font-style: italic;
  font-size: 25px;
  font-weight: bolder;
  /* background: rgb(255, 255, 255); */

  /* margin-left: 8px; */

}


.experience{
  position: absolute;
  /* background: rgb(255, 255, 255); */
  top: 0;
  left: 0;
  width: 630px;
  height: 500px;
  margin-top: 190px;
  margin-left: 340px;
  border-bottom: #050000 solid;
}


.education{
  position: absolute;

  /* background: rgb(255, 255, 255); */
  width: 630px;
  height: 360px;
  top: 0;
  left: 0;
  margin-top: 700px; 
  margin-left: 340px; 
  border-bottom: #050000 solid;
}


.social{
  position: absolute;
  /* background: rgb(255, 255, 255); */
  width: 660px;
  height: 130px;
  top: 0;
  left: 0;
  margin-top: 1060px;
  margin-left: 340px;
  
}






.medium-text {
  font-size: 17px;
 
  font-family:  initial;
  font-style: italic;
  
  
}

.warp-text{
  overflow-wrap: break-word;
  /* white-space: normal ; */
  width: 300px;

}

.large-text {
  font-size: 30px; 
  font-weight: bolder;
  font-family:  initial;
  font-style: italic;
}








/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html,body{
  margin:0;
  height:100%;
  font-family: 'Montserrat', sans-serif;
} */


.container{
  padding-top:30px;
  min-height:100%;
  text-align:center;
  background: linear-gradient(0deg, rgba(34,195,104,1) 0%, rgba(45,77,253,1) 100%);
}


.headline{
  text-align:center;
 
}


.headline  h1{
    font-size:35px;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
  }



  /* Helper class to divide the icons */
  .social-margin {
    margin: 20px;
  }

  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  
  .social-icon {
    margin-top: 20px;
    margin-left: 50px;
     box-sizing: border-box;
    -moz-border-radius: 138px;
    -webkit-border-radius: 138px;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 1px;
    padding-top: 11px;
    transition: all 0.5s;
  }


  .social-icon:hover {
      transform: rotate(360deg)scale(1.3);
    }



   .facebook {
      font-size: 32px;
      padding-top: 9px;
      border-color: #3b5998;
      background-color: #3b5998;
      color: #ffffff;
     
    }


    .facebook:hover {
      background-color: #ffffff;
      color: #3b5998;
    }
  

  .line  {
    font-size: 32px;
    padding-top: 9px;
    border-color: #33c706;
    background-color: #33c706;
    color: #ffffff;
   
  }


   .line:hover {
    background-color: #ffffff;
    color: #33c706;
  }
  
  .instagram  {
    display: inline-block;
    font-size: 32px;
    padding-top: 9px;
    border-color: #000000;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #ffffff;
   
  }



  .instagram:hover {
    background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #ffffff;
  }
  
  
   .github {
      font-size: 32px;
      padding-top: 9px;
      background-color: #4183c4;
      color: #ffffff;
      border-color: #4183c4;
      
    }


    .github:hover {
      background-color: #ffffff;
      color: #4183c4;
    }

    .discord {
      font-size: 32px;
      padding-top: 9px;
      background-color: #572eec;
      color: #ffffff;
      border-color: #572eec;
      
    }


    .discord:hover {
      background-color: #ffffff;
      color: #572eec;
    }
  
    
    .timelines {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
  
    }
    


    


    .timeline-item h3 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      position: relative;
    }


    .timeline-item h3::before {
      content: "";
      position: absolute;
      left: -39px;
      background-color: #f800ec;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      transform: translate(-0.5px, 0.2em);
    }
    
    .timeline-items {
      margin: 30px;
      padding-left: 30px;
      padding-top: 1px;
      border-left: 3px solid #fc01d2;
      
    }
    
    .timeline-item {
      margin-top: -0.3em;
    }
   
    .timeline-item > * {
      margin: 1em 0;
    }


    .timeline-item .location {
      clear: both;
      font-size: 1em;
      font-style: italic;
    }
  
  
  
    .year {
      font-size: 0.75em; 
      font-weight: 700;
      text-transform: uppercase;
      color: #f70000;
      
      display: inline-block;
      padding: 0 10px;
      margin-top: 5px;
      margin: -5px 0.5em 0 0 !important;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }
  
  
  .year.color {
      background-color: #00ff73;
  }
  
  
  
  li::marker {
    content: attr(data-emoji);
  }
  
  
  li:hover::marker {
    content: "🤯";
  }
  
  
  .scale-emoji{
    font-size: 22px;
    margin-top: 5px;
    
  }
  
  li { 
    margin-bottom: 5px; 
    padding-bottom: 5px; 
    line-height: 2;               
    margin-left: 3px ;
 }
  
  
  
  /* @media (max-width: 767px) {
    body {
      font-size: 16px; 
      transform: scale(0.3);
    }
  
  
  }
  
  @media (max-high) {
    body {
      font-size: 16px; 
      transform: scale(0.3);
      flex-wrap: wrap;
    }
  
  
  } */


  .container{
    padding-top:30px;
    min-height:100%;
    text-align:center;
    background: linear-gradient(0deg, rgba(34,195,104,1) 0%, rgba(45,77,253,1) 100%);
  }
  
  
  .headline{
    text-align:center;
   
  }
  
  
  .headline  h1{
      font-size:35px;
      font-family: 'Montserrat', sans-serif;
      color:#fff;
    }
  
  
  
    /* Helper class to divide the icons */
    .social-margin {
      margin: 20px;
    }
  
    
  
  
    a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
    }
    
    .social-icon {
      margin-top: 20px;
      margin-left: 50px;
       box-sizing: border-box;
      -moz-border-radius: 138px;
      -webkit-border-radius: 138px;
      border-radius: 138px;
      border: 5px solid;
      text-align: center;
      width: 60px;
      height: 60px;
      display: inline-block;
      line-height: 1px;
      padding-top: 11px;
      transition: all 0.5s;
    }
  
  
    .social-icon:hover {
        transform: rotate(360deg)scale(1.3);
      }
  
  
  
     .facebook {
        font-size: 32px;
        padding-top: 9px;
        border-color: #3b5998;
        background-color: #3b5998;
        color: #ffffff;
       
      }
  
  
      .facebook:hover {
        background-color: #ffffff;
        color: #3b5998;
      }
    
  
    .line  {
      font-size: 32px;
      padding-top: 9px;
      border-color: #33c706;
      background-color: #33c706;
      color: #ffffff;
     
    }
  
  
     .line:hover {
      background-color: #ffffff;
      color: #33c706;
    }
    
    .instagram  {
      display: inline-block;
      font-size: 32px;
      padding-top: 9px;
      border-color: #000000;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      color: #ffffff;
     
    }
  
  
  
    .instagram:hover {
      background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      color: #ffffff;
    }
    
    
     .github {
        font-size: 32px;
        padding-top: 9px;
        background-color: #4183c4;
        color: #ffffff;
        border-color: #4183c4;
        
      }
  
  
      .github:hover {
        background-color: #ffffff;
        color: #4183c4;
      }
  
      .discord {
        font-size: 32px;
        padding-top: 9px;
        background-color: #572eec;
        color: #ffffff;
        border-color: #572eec;
        
      }
  
  
      .discord:hover {
        background-color: #ffffff;
        color: #572eec;
      }

      .action-icon {
    
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        cursor: pointer;
      }
    